@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url(reset.css);


$fontSize: 15px;
$radius: 20px;
$maxWidth: 40%;

body{
    background: rgb(58,180,84);
    background: linear-gradient(90deg, rgba(58,180,84,1) 0%, rgba(228,29,253,1) 50%, rgba(230,252,69,1) 100%);
    font-size: $fontSize;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}
.nav{
    position: fixed;
    display: inline-block;
    & .other_nav_but{
        list-style: none;
    }
}
section.form_section{
    line-height: 1.5;
    margin-top: 50px;

}
